/* 

Contains ( Search using CTRL-F ):
1) MENU
2) BLURRED MENU
3) HERO SECTION


*/


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    height: 10000px;
}
a{
    text-decoration: none;
    color: initial;
}


/* MENU */


.xiaomi-logo{
    width: 32px;
    cursor: pointer;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 240px;
    max-width: 100%;
    height: 58px;
    box-shadow: 0px 10px 10px 0px rgba(219, 219, 219, 0.28) ;
    z-index: 999;
    position: relative;
}
.left-menu, .right-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.drop-down{
    padding: 50px 240px 60px 240px;
    display: none;
    width: 100%;
    height: 430px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 58px;
    z-index: 999;
    background-color: white;
}
.left-menu-branch:hover{
    border-bottom: 3px solid #fd4900;
    padding-top: 3px;
}
.left-menu-branch:hover .menu-item{
    color: #fd4900;
}
.left-menu-branch:hover #noHover{
    color: black;
}
#noHoverDiv:hover{
    border: none;
    padding-top: 0;
}
.menu-blur{
    display: none;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 488px;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(139, 139, 139, 0.35);
}
.left-menu-branch:hover ~ .menu-blur{
    display: flex;
}
.left-menu{
    height: 100%;
}
.left-menu-branch{
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch-one:hover .drop-down-one{
    display: flex;
}
.branch-two:hover .drop-down-two{
    display: flex;
}
.branch-three:hover .drop-down-three{
    display: flex;
}
.branch-four:hover .drop-down-four{
    display: flex;
}
.branch-five:hover .drop-down-five{
    display: flex;
}
.fa-magnifying-glass, .fa-user{
    font-size: 20px;
    cursor: pointer;
}


.card-image{
    width: 120px;
    transition: transform 0.5s;
}
.drop-down-one, .drop-down-two, .drop-down-five{
    flex-direction: column;
    gap: 40px;
}
.dropdown-first-row{
    display: flex;
    gap: 100px;
}
.first-row-menu{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.first-row-menu div{
    display: flex;
    gap: 10px;
}
.first-row-menu div .fa-solid{
    font-size: 14px;
}
.first-row-menu-item{
    font-size: 15px;
    font-weight: bold;
}
.first-row-menu-item-small{
    color: rgb(184, 184, 184);
    font-size: 15px;
}
.first-row-menu-item-small:hover{
    color: #fd4900;
    text-decoration: underline;
}
.first-row-menu-item:hover{
    color: #fd4900;
    text-decoration: underline;
}
.dropdown-first-row{
    justify-content: space-between;
}
.dropdown-second-row{
    justify-content: end;
}
.dropdown-first-row, .dropdown-second-row{
    display: flex;
    flex-direction: row;
}
.dropdown-second-row{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 20px;
}
.second-row-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.second-row-text:hover p{
    text-decoration: underline;
}
.second-row-text:hover p, .second-row-text:hover i{
    color: #fd4900;
}
.second-row-text .fa-solid{
    font-size: 13px;
    color: rgb(184, 184, 184);
}
.first-row-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 20px;
    height: 240px;
}
.new{
    position: absolute;
    right:0;
    top: 0;
    border: 1px solid rgb(61, 179, 46);
    border-radius: 5px;
    padding: 1px 5px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 12px;
    color: rgb(61, 179, 46);
    background-color: rgb(224, 238, 224)
}
.first-row-card{
    background-color: rgb(248, 248, 248);
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 26px;
    position: relative;
}
.card-text{
    font-size: 13px;
}
.first-row-card:hover .card-image{
    transform: translateY(-12px);
}
.branch-five:hover .menu-item{
    transform: scale(0.86);
    font-weight: bold;
    background-color: rgb(255, 217, 0);
    padding: 10px;
    margin-left: -10px;
}


.drop-down-three, .drop-down-four{
    flex-direction: row;
    gap: 50px;
    font-size: 15px;
}
.menu-group{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
}
.individual-link{
    color: rgb(156, 156, 156);
    cursor: pointer;
}
.link-title{
    cursor: pointer;
}
.individual-link:hover{
    color: #fd4900;
    text-decoration: underline;
}
.link-title:hover{
    color:#fd4900;
}


.drop-signUP:hover .sign-up-container{
    display: block;
}

.drop-signUP{
    height: 100%;
}
.right-menu{
    height: 100%;
}
.icon{
    height: 100%;
    display: flex;
    align-items: center;
}
.sign-up-container{
    display: none;
    position: absolute;
    margin-left: -70px;
    box-shadow: 0px 2px 10px 4px rgb(243, 243, 243);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}
.sign-up-container p{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 16px 24px;
    color:  rgb(151, 151, 151);
    cursor: pointer;
}
.first-sign:hover, .second-sign:hover{
    color: black;
    text-decoration: underline;
}
.first-sign{
    border-bottom: 0.5px solid rgb(230, 229, 229);
}



/* BLURRED MENU */


.blurred-menu{
    width: 100%;
    padding: 0px 270px 0px 240px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;

}
.right-blurred-menu{
    display: flex;
    gap:20px;
    align-items: center;
}
.blur-title{
    font-weight: bold;
    font-size: 25px;
}
.blur-title + p{
    font-size: 14px;
    color: rgb(156, 156, 156);
    padding-left: 12px;
    border-left: 2px solid rgb(207, 207, 207);
    cursor: pointer;
    margin-top: 4px;
}
.left-blurred-menu{
    display: flex;
    gap: 34px;
    font-size: 17px;
}
.overview:hover, .specs:hover{
    cursor: pointer;
    color: #fd4900;
}
.overview{
    font-weight: bold;
}
.specs{
    color:rgb(156, 156, 156);
}


/* HERO SECTION */

.hero-section{
    position: relative;
    display: flex;
}
.hero-section img{
    width: 100%;
    max-width: 1510px;
    height: auto;
    margin-left: 166px;
    margin-top: 105px;
    border: 0;
}
.hero-section div{
    position: absolute;
    top:0;
    right: 0;
    margin-top: 256px;
    margin-right: 74px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.hero-section-title{
    font-size: 4.5vw;
    font-weight:500;
}
.hero-section-title ~ p{
    font-size: 1.3vw;
}