
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    height: 10000px;
}
a{
    text-decoration: none;
    color: initial;
}

/* MENU */


.xiaomi-logo{
    width: 32px;
    cursor: pointer;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 240px;
    max-width: 100%;
    height: 58px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.045) ;
}
.left-menu, .right-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

}
.drop-down{
    display: none;
    width: 100%;
    height: 430px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 58px;
    z-index: 999;
    background-color: red;
}
.menu-blur{
    display: none;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 488px;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(139, 139, 139, 0.35);
}
.left-menu-branch:hover ~ .menu-blur{
    display: flex;
}

.branch-one:hover .drop-down-one{
    display: flex;
}
.branch-two:hover .drop-down-two{
    display: flex;
}
.branch-three:hover .drop-down-three{
    display: flex;
}
.branch-four:hover .drop-down-four{
    display: flex;
}
.branch-five:hover .drop-down-five{
    display: flex;
}





.fa-magnifying-glass, .fa-user{
    font-size: 20px;
    cursor: pointer;
}



/*input{
    display:none;
}

.popup{
    width: 100%;
    height: 435px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 61px;
    display: none;
}
.popupMobile{
    background-color: green;
}
.popupWearables{
    background-color: red;
}
.popupSmartHome{
    background-color: purple;
}
.popupLifestyle{
    background-color: yellow;
}
.popupPoco{
    background-color: blue;
}
.first-menu:checked ~ .popupMobile{
    display: block;
}
.second-menu:checked ~ .popupWearables{
    display: block;
}
.third-menu:checked ~ .popupSmartHome{
    display: block;
}
.forth-menu:checked ~ .popupLifestyle{
    display: block;
}
.fifth-menu:checked ~ .popupPoco{
    display: block;
}


/*
    CODE FOR THE HOVER MENU - There will be 5 menus, each with exact label and menu container height. Width of the label may vary. Width of the container will remain the same.

input{
    display: none;
}
.hidden{
    height: 200px;
    width: 200px;
    background-color: red;
    display: none;
    z-index: 2;
    position: absolute;
    margin-left: 250px;
}   

label:hover + input:checked ~ .hidden{
    display: block;
}

label{
    cursor: pointer;
    font-size: 30px;
    padding: 0 300px 300px 0;
    background-color: green;
    z-index: 10;
}
    
    
*/

